<mat-form-field class="search-input">
    <mat-label> Buscar </mat-label>
    <input #searchInput matInput />
</mat-form-field>

<mat-toolbar class="banner">
    <h2>
        Dashboard
    </h2>
</mat-toolbar>

<div class="content">

    <!-- Months container -->
    <div class="months-container">
        <app-pie-chart [months]="months"></app-pie-chart>
    </div>

    <!-- Cards Dayli-Sales -->
    <h3 *ngIf="sales.length == 0"> No se han vendido productos hoy </h3>
    <div class="cards-container" *ngIf="sales.length > 0">
        <app-dashboard-num-card-chart [sales]="sales" [view]="view"></app-dashboard-num-card-chart>
    </div>

</div>