<mat-form-field class="search-input">
    <mat-label> Buscar </mat-label>
    <input #searchInput matInput />
</mat-form-field>

<mat-toolbar class="banner">
    <h2>
      Dashboard
    </h2>
 </mat-toolbar>
  
<div class="content">
    
    <!-- Months container -->
    <div class="months-container">

        <mat-card-content class="Month">
            <mat-card-title>
                Septiembre
            </mat-card-title>
        </mat-card-content>

    </div>


    <div class="sales-day-container">
        <button (click)="onClick()"> click here</button>
    </div>

</div>=
