*{
    box-sizing: border-box;
}

.search-input{
    position: fixed;
    z-index: 15;
    top: .5em;
    right: 5em; 
    color: #000;
}

.banner{
    width: 50%;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    padding: 1em 10em 0;
    border-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-color: #9f90ea;
    user-select: none;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.months-container{
    width: 50%;
    padding: 20;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    border: none;
    border-bottom: 4px solid #9f90ea;

}

.item-container{
    display: grid;
}