.chart {
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue, Helvetica, Arial",
    sans-serif;
  text-align: center;
  letter-spacing: 0.01rem;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.chart ::-webkit-scrollbar {
  width: 10px;  /* Personaliza el ancho de la barra de desplazamiento */
}

.chart ::-webkit-scrollbar-thumb {
  background-color: #9f90ea;  /* Personaliza el color de la barra de desplazamiento */
}

.chart ::-webkit-scrollbar-track {
  background-color: #9f90ea;  /* Personaliza el color de fondo de la barra de desplazamiento */
}

.chart .ngx-charts-legend-item:hover {
  color: #9f90ea !important;  /* Personaliza el color del texto en el hover */
}




