.nav-bar {
  background-color:#675cb0;
  padding: 0.7em;
  z-index: 10;
  position: fixed;
  top: 1px;
  left: 1px;
  width: 100%;
  box-shadow: 0 2px 5px #171a4a;
}

.title{
  font-size: 2em;
  color: #fff;
  margin: auto 2em auto 0.3em;
}
button {
  margin-left: 1em;
}

main{
  padding-top: 64px;
}

.divider{
  flex:auto
}